<!DOCTYPE html>
<html>
  <h1>St Louis Bowling Alley</h1>
  <body>
    <p>Welcome to the STBA website! Here you'll find important information such as hours, tournament dates, and memus.</p>
    <img src= https://media3.giphy.com/media/GJsj4VueZiYHC/200.webp>
  </body>
</html>